ControlLed.json
[{"id":"b627ac597c55c8a4","type":"tab","label":"ControlLed","disabled":false,"info":"","env":[]},{"id":"ddf458223ee03378","type":"mqtt in","z":"b627ac597c55c8a4","name":"","topic":"ESP32/Values","qos":"2","datatype":"auto-detect","broker":"1289a1c63a0e300f","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":60,"wires":[["d4da706470ed13a4"]]},{"id":"d4da706470ed13a4","type":"json","z":"b627ac597c55c8a4","name":"Decode JSON","property":"payload","action":"obj","pretty":false,"x":280,"y":60,"wires":[["4b5dd78ee7c2c167","41534efc5c4dee9d"]]},{"id":"4b5dd78ee7c2c167","type":"change","z":"b627ac597c55c8a4","name":"payload.temp.value","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":60,"wires":[["978eb00f5ed89335","73d2670bd36ddcb6"]]},{"id":"978eb00f5ed89335","type":"ui_gauge","z":"b627ac597c55c8a4","name":"tempGauge","group":"51151d4056f09bfa","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":"0","max":"40","colors":["#e6e600","#00b500","#ca3838"],"seg1":"20","seg2":"28","diff":false,"className":"","x":730,"y":40,"wires":[]},{"id":"41534efc5c4dee9d","type":"change","z":"b627ac597c55c8a4","name":"payload.humi.value","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humi.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":140,"wires":[["1925c3fb054bd6fe","c6e9eaa6d88daa31"]]},{"id":"1925c3fb054bd6fe","type":"ui_gauge","z":"b627ac597c55c8a4","name":"humiGauge","group":"51151d4056f09bfa","order":1,"width":0,"height":0,"gtype":"gage","title":"Humitat","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#e6e600","#00b500","#ca3838"],"seg1":"33","seg2":"67","diff":false,"className":"","x":730,"y":120,"wires":[]},{"id":"d0e5b7f60c7e5cbb","type":"mqtt in","z":"b627ac597c55c8a4","name":"","topic":"ESP32/Status","qos":"2","datatype":"auto-detect","broker":"1289a1c63a0e300f","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":220,"wires":[["bd466f2e0ba4b56f"]]},{"id":"bd466f2e0ba4b56f","type":"json","z":"b627ac597c55c8a4","name":"Decode JSON","property":"payload","action":"obj","pretty":false,"x":280,"y":220,"wires":[["d2ed8a4871cd249f","a8b7a3c1bab0dc5a","95037a47b0bdf72b"]]},{"id":"d2ed8a4871cd249f","type":"change","z":"b627ac597c55c8a4","name":"payload.led","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.led","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":220,"wires":[["718208bc3dd62a9c"]]},{"id":"73d2670bd36ddcb6","type":"ui_chart","z":"b627ac597c55c8a4","name":"tempChart","group":"c20b4fb7a8451948","order":4,"width":0,"height":0,"label":"Temperatura (ºC)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"15","ymax":"35","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":730,"y":80,"wires":[[]]},{"id":"c6e9eaa6d88daa31","type":"ui_chart","z":"b627ac597c55c8a4","name":"humiChart","group":"c20b4fb7a8451948","order":4,"width":0,"height":0,"label":"Humitat (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":730,"y":160,"wires":[[]]},{"id":"bfac0ee6227fcf3d","type":"mqtt out","z":"b627ac597c55c8a4","name":"","topic":"ESP32/Orders","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1289a1c63a0e300f","x":1400,"y":300,"wires":[]},{"id":"ee59efb0c05f2832","type":"ui_text_input","z":"b627ac597c55c8a4","name":"setInterval","label":"Set Interval (ms):","tooltip":"","group":"bc24f04bf2e22318","order":9,"width":0,"height":0,"passthru":false,"mode":"text","delay":"500","topic":"","sendOnBlur":false,"className":"","topicType":"str","x":930,"y":380,"wires":[["69ca8fe58586737d"]]},{"id":"a8b7a3c1bab0dc5a","type":"change","z":"b627ac597c55c8a4","name":"payload.sampling","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sampling","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":300,"wires":[["b894c84ec5d50bce"]]},{"id":"95037a47b0bdf72b","type":"change","z":"b627ac597c55c8a4","name":"payload.interval","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.interval","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":380,"wires":[["9a4cf3e3650bebbe"]]},{"id":"9a4cf3e3650bebbe","type":"ui_text","z":"b627ac597c55c8a4","group":"bc24f04bf2e22318","order":10,"width":0,"height":0,"name":"samplingInterval","label":"Sampling interval:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":740,"y":380,"wires":[]},{"id":"6da7f02d7aee69d9","type":"mqtt in","z":"b627ac597c55c8a4","name":"","topic":"ESP32/Messages","qos":"2","datatype":"auto-detect","broker":"1289a1c63a0e300f","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":460,"wires":[["8f88607a5a2bb654"]]},{"id":"8f88607a5a2bb654","type":"json","z":"b627ac597c55c8a4","name":"Decode JSON","property":"payload","action":"obj","pretty":false,"x":320,"y":460,"wires":[["a1b8e26abed55069"]]},{"id":"a1b8e26abed55069","type":"change","z":"b627ac597c55c8a4","name":"payload.message","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":460,"wires":[["82238a159a2953f5"]]},{"id":"82238a159a2953f5","type":"debug","z":"b627ac597c55c8a4","name":"missatges","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":460,"wires":[]},{"id":"69ca8fe58586737d","type":"function","z":"b627ac597c55c8a4","name":"addHeading","func":"var heading =\"Set interval \"\nmsg.payload =  heading + msg.payload;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":380,"wires":[["bfac0ee6227fcf3d"]]},{"id":"718208bc3dd62a9c","type":"ui_switch","z":"b627ac597c55c8a4","name":"switchLed","label":"Commutador Led:","tooltip":"","group":"bc24f04bf2e22318","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":720,"y":220,"wires":[["42353a756a12a118"]]},{"id":"42353a756a12a118","type":"switch","z":"b627ac597c55c8a4","name":"ledSwitch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":220,"wires":[["83fd1d8e12823a50"],["7b2e717c2a58feb3"]]},{"id":"b894c84ec5d50bce","type":"ui_switch","z":"b627ac597c55c8a4","name":"switchSample","label":"Commutador mostreig:","tooltip":"","group":"bc24f04bf2e22318","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":740,"y":300,"wires":[["68f04ec20bc04261"]]},{"id":"68f04ec20bc04261","type":"switch","z":"b627ac597c55c8a4","name":"sampleSwitch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":300,"wires":[["ad3149d1758e369d"],["95190c2e4e9dfaee"]]},{"id":"83fd1d8e12823a50","type":"function","z":"b627ac597c55c8a4","name":"setLedON","func":"msg.payload = \"Set led ON\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":200,"wires":[["bfac0ee6227fcf3d"]]},{"id":"7b2e717c2a58feb3","type":"function","z":"b627ac597c55c8a4","name":"setLedOFF","func":"msg.payload = \"Set led OFF\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":240,"wires":[["bfac0ee6227fcf3d"]]},{"id":"ad3149d1758e369d","type":"function","z":"b627ac597c55c8a4","name":"startReadingData","func":"msg.payload = \"Start reading data\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":280,"wires":[["bfac0ee6227fcf3d"]]},{"id":"95190c2e4e9dfaee","type":"function","z":"b627ac597c55c8a4","name":"stopReadingData","func":"msg.payload = \"Stop reading data\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":320,"wires":[["bfac0ee6227fcf3d"]]},{"id":"1289a1c63a0e300f","type":"mqtt-broker","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"Ramon_Node-RED","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"51151d4056f09bfa","type":"ui_group","name":"Gauges","tab":"45b3bee2e84319c3","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c20b4fb7a8451948","type":"ui_group","name":"Charts","tab":"45b3bee2e84319c3","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bc24f04bf2e22318","type":"ui_group","name":"Ordres","tab":"45b3bee2e84319c3","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"45b3bee2e84319c3","type":"ui_tab","name":"Móra","icon":"dashboard","disabled":false,"hidden":false}]